/* MY CONTENT STARTS HERE */
.dashboard {
    padding-left: 0;
    width: 85%;
}

.dashboard h1 {
    padding-left: 5%;
    font-weight: bold;
}

.bar {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 100%;
}

.bar h2 {
    margin: 0;
}

.pagename {
    padding: 10px;
    background-color: #21ad51;
}

.dashboard > .task-box {
    padding-left: 5%;
}

.task-box {
    margin-bottom: 3%;
    text-align: left; 
    border: 2px solid black;
    padding: 10px;
}

.task-box p {
    margin: 5px 0; 
    font-size: 18px; 
}

.task-box p:first-child {
    font-weight: bold;
}

.task-box .due-date {
    color: green;
}

.content-container {
    display: flex;
}

.picture,
.assign-boxes {
    width: 50%;
    padding: 2% 5% 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.picture img,
.task-box {
    margin: auto;
}

/* this sets the task boxes to be stacked on top of each other and stay left-aligned */
.assign-boxes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 5%;
    padding-right: 5%; 
}

/* this adds a 2px wide black border around every task box element */
.task-box {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px; 
    width: 100%; 
    font-size: 18px; 
}

/* this changes the text color for the timeslot class to gray */
.timeslot {
    color: gray;
    font-weight: bold; 
}

/* this applies spacing between task boxes without having it double up anywhere or when new task boxes are added */
.task-box + .task-box {
    margin-top: 10px; 
}
